html {
	height: 100%;
	width: 100%;
}

body {
	background-color: #3B0160;
}

#navbar {
	text-align: center;
	background-color: #3B0160;
	line-height: 60px;
	color: #F0BF00;
	font-weight: 400;
	font-size: 50px;
	font-family: "Tahoma";
	border-style: outset;
	text-shadow: 2px 2px white;
	border-color: #F0BF00;
	letter-spacing: 6px;
	position: relative;
	font-weight: bold;
}

#listHeader {
	background-color: #F0BF00;
	text-align: center;
	width: 50%;
	position: absolute;
	top: 25%;
	left: 25%;
	font-family: "Tahoma";
	color: #3B0160;
	font-weight: 400;
	text-shadow: 1px 1px white;
	border-style: outset;
	border-color: white;
	font-size: 30px;
}

#toDoList {
	background-color: white;
	color: #3B0160;
	font-family: "Tahoma";
	width: 50%;
	position: absolute;
	top: 45%;
	left: 25%;
	border-color: #F0BF00;
	border-style: outset;
	text-align: center;
	list-style-type: none;
	font-size: 25px;
	text-shadow: 1px 1px #F0BF00;
}