html {
	height: 100%;
	width: 100%;
}

body {
	background-color: #3B0160;
}

#navbar {
	text-align: center;
	background-color: #3B0160;
	line-height: 60px;
	color: #F0BF00;
	font-weight: 400;
	font-size: 50px;
	font-family: "Tahoma";
	border-style: outset;
	text-shadow: 2px 2px white;
	border-color: #F0BF00;
	letter-spacing: 6px;
	position: relative;
	font-weight: bold;
}