<nav id="addTasksNav">
	<a class="col-md-4" id="addTasksHomeLink" ui-sref="home">— Home —</a>
	<a class="col-md-4" id="addTasksCurrentLink" ui-sref="current">— Current Tasks —</a>
	<a class="col-md-4" id="addTasksHistoryLink" ui-sref="history">— Task History —</a>
</nav>
<h1 id="addHeader">Add Tasks</h1>
<div class="addContainer">
	<table class="col-md-4" id ="tasksTable">
		<tr>
			<th id="addTasksHeader">Tasks</th>
			<th id="addTasksPriorityHeader">Priority</th>
			<th id="addTasksStatusHeader">Status</th>
		</tr>
 		<tr ng-repeat="task in tasks" id="tasksListRow">
			<td id="addTasksList">{{task.task}}</td>
			<td id="addTasksPriorityList">{{task.priority}}</td>
			<td id="addTasksStatusList">{{task.status}}</td>
			<td>  
				<form ng-submit="completeTask(task)">  
					<button type="submit" id="completeTaskButton">Complete Task</button>  
				</form>   
			</td>     
		</tr>
	</table>
	<form id="addTaskForm" ng-submit="addTask()">
		<input type="text" placeholder="Enter task description here" id="addTaskInput" ng-model="newTask">
		<input type="text" placeholder="Enter priority here: High/Mid/Low" id ="addTaskPriorityInput" ng-model="setPriority">
		<input type="submit" id="addTaskSubmitButton">
	</form>
</div>